<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>空港登録</title>

<!-- Bootstrap core CSS -->
<link href="../css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="../css/detail_setting.css" rel="stylesheet">

<!-- Timepicker CSS -->
<link href="../css/bootstrap-timepicker.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
{{ header }}

	<div class="container">
		{% if remode == 0 %}
		<div class="alert alert-success">
		<p>{{ sys_message }}</p>
		</div>
		{% endif %}
		{% if remode == 1  %}
		<div class="alert alert-danger">
		<p>{{ sys_message }}</p>
		</div>
		{% endif %}
		<h2 class="sub-header">空港登録</h2>
		<div class="panel panel-primary">
			<form method="post" action="/Airport">
				<label>空港名</label><input type="text" name="portname"><br>
				<label>所属国</label><input type="text" name="location">
				<label>滑走路数</label>
				<span>推定年間発着数</span>
				<input type="submit">
			</form>
		</div>
	</div>
	<!-- /.container -->


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
	type="text/javascript"></script>
<script src="../js/bootstrap.min.js" type="text/javascript"></script>
<script src="../js/bootstrap-timepicker.js" type="text/javascript"></script>
</body>
</html>