	<header>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="./">Site Home</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
					{% if login == 1 %}
						<li><a href="/Airport">空港登録</a></li>
						<li><a href="/Airline">航空会社登録</a></li>
						<li><a href="/Route">空路登録</a></li>
					</ul>
				</div>
				<div id="login_name" align="right">
					<p>{{ email }}でログイン中</p>
				</div>
					{% else %}
						<li><a href="/User">ユーザ登録</a></li>
					</ul>
					<form class="navbar-form" method="post" action="/Signin">
						<div class="form-group">
							<input type="text" name="userID" placeholder="メールアドレス">
							<input type="password" name="password" placeholder="パスワード">
						</div>
						<input type="submit" class="btn btn-info" value="ログイン">
					</form>
				</div>
				{% endif %}
				<!--/.nav-collapse -->
			</div>
		</nav>
	</header>
