<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<!-- Bootstrap core CSS -->
<link href="../css/bootstrap.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="../css/detail_setting.css" rel="stylesheet">

<!-- Timepicker CSS -->
<link href="../css/bootstrap-timepicker.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<link href="../css/bootstrap-editable.css" rel="stylesheet">

<!-- Riot.js -->
<script type="riot/tag" src="../riots/sns-count-facebook.tag"></script>
<script src="../js/riot+compiler.js" type="text/javascript"></script>
<!-- Riot.js -->

<script src="../js/sugar.js" type="text/javascript"></script>
<script>

<title>メインページ</title>

function clock(){
    var nowFormated = new Sugar.Date.create('today');
    document.getElementById('clock-01').innerHTML = nowFormated;
    // 1秒(1000ミリ)ごとに処理を実効
    window.setTimeout("clock()", 1000);
}
window.onload = clock;
</script>
</head>

<body>
	{{ header }}
	<div class="container">
		<div class="alert alert-success">
			<p>{{ sys_message }}</p>
		</div>
		<div id="clock-01"></div>
		<select name="country" id="country">
		{% for country in countries %}
			<option>{{ country.country_name }}</option>
		{% endfor %}
		</select>
		<form method="post" action="/">
			<select name="airport" id="airport">
			</select><input type="submit">
		</form>
		<div class="table-responsive">
			<h2 class="sub-header">{{ depart_port }}出発便</h2>
			<table class="table table-striped" id="departure_table">
				<thead>
					<tr>
						<th>時刻</th>
						<th>到着地</th>
						<th>航空会社</th>
						<th>便名</th>
					</tr>
				</thead>
				<tbody>
					{% for air_route in allroutes %}
					<tr>
						<td>{{ air_route.Dept_time }}</td>
						<td>{{ air_route.arrival_port }}</td>
						<td><img src="/get_img?key={{ air_route.airline.0 }}" alt="{{ air_route.str_airline.0 }}"/></td>
						<td>{{ air_route.route_code }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<h2 class="sub-header">{{ depart_port }}到着便</h2>
			<table class="table table-striped" id="arrival_table">
				<thead>
					<tr>
						<th>時刻</th>
						<th>出発地</th>
						<th>航空会社</th>
						<th>便名</th>
					</tr>
				</thead>
				<tbody>
					{% for air_route in allroutes_ar %}
					<tr>
						<td>{{ air_route.Arrv_time }}</td>
						<td>{{ air_route.depart_port }}</td>
						<td><img src="/get_img?key={{ air_route.airline.0 }}" alt="{{ air_route.str_airline.0 }}"/></td>
						<td>{{ air_route.route_code }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<!-- /.container -->


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
	type="text/javascript"></script>
<script src="../js/bootstrap.min.js" type="text/javascript"></script>
<script src="../js/bootstrap-timepicker.js" type="text/javascript"></script>
<script src="../js/airboard.js" type="text/javascript"></script>

</body>
</html>