<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>路線登録</title>

<!-- Bootstrap core CSS -->
<link href="../css/bootstrap.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="../css/detail_setting.css" rel="stylesheet">

<!-- Timepicker CSS -->
<link href="../css/bootstrap-timepicker.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


<link href="../css/bootstrap-editable.css" rel="stylesheet">

<!-- Riot.js -->
<script src="../js/riot+compiler.js" type="text/javascript"></script>
<!-- Riot.js -->

</head>

<body>
{{ header }}

	<div class="container">
		{% if remode == 1 %}
		<div class="alert alert-danger">
		{% else %}
		<div class="alert alert-success">
		{% endif %}
			<p>{{ sys_message }}</p>
		</div>

		<h2 class="sub-header">空路登録</h2>
		<div class="panel panel-primary  col-lg-3 col-md-3" id="route_panel">
			<form method="post" action="/Route">
			<label>出発空港</label>
			<select name="departure" id="departure" class="form-control">
			{% for airport in allports %}
			<option>
			{{ airport.portname }}
			</option>
			{% endfor %}
			</select>
			<label>到着空港</label>
			<select name="arrival" id="arrival" class="form-control">
			{% for airport in allports %}
			<option>
			{{ airport.portname }}
			</option>
			{% endfor %}
			</select>
			<label>出発時刻</label>
			<input type="text" id="dept_time" name="dept_time" class="form-control">
			<label>所要時間</label>
			<div class="input-group col-xs-7"><input type="number" min="1" id="dist" name="dist" class="form-control" required="required" value="1"><span class="input-group-addon">時間</span></div>
			<fieldset disabled>
			<label>到着時刻</label>
			<div class="input-group col-xs-7"><input type="text" id="arrv_time" class="form-control" value=""></div>
			</fieldset>
			<label>頻度</label>
			<div class="input-group  col-xs-7"><span class="input-group-addon">1日</span><input type="number" name="frec" size="3" class="form-control"><span class="input-group-addon" required="required">本</span></div>
			<label>航空会社</label>
			<select name="airline" id="airline" class="form-control">
			{% for airline in allcompanies %}
			<option value="{{ airline.key.id }}" data-abb="{{ airline.company_abb }}">
			{{ airline.company_name }}
			</option>
			{% endfor %}
			</select>
			<label>路線コード</label>
			<div class="input-group  col-xs-8"><span class="input-group-addon" id="comp_abb">{{ allcompanies.0.company_abb }}</span><input type="text" name="code" placeholder="路線コード（合計7桁以下）" class="form-control" required="required"></div>
			<label>使用機材</label>
			<input type="text" name="plane" class="form-control" required="required"><br/>
			<input type="hidden" name="comp_abb" id="comp_abbh" value="{{ allcompanies.0.company_abb }}">
			<input type="hidden" name="arrv_time" id="arrv_timeh" value="">
			<input type="submit" class="btn btn-primary">
			</form>
		</div>
	</div>
	<!-- /.container -->

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
	type="text/javascript"></script>
<script src="../js/bootstrap.js" type="text/javascript"></script>
<script src="../js/bootstrap-timepicker.js" type="text/javascript"></script>
<script src="../js/airboard.js" type="text/javascript"></script>
</body>
</html>